<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" >
</head>
<body>
  <header>
    <h1>Lost and Found</h1>
    <nav>
      <a href="/">Home</a>
        <a href="/add">Lost</a>
        <a href="/search">Found</a>
        <a href="/list">List of Items</a>
   
    </nav>
</header>
    <h1>Add New Item</h1>
    <form action="" method="POST">
      <section class="lost-form">
        <h2>Report a Lost Item</h2>
        
        <div class="form-group">
          <label for="item-name">Item Name</label>
          <input type="text" id="item-name" name="item_name" required placeholder="Describe the lost item" />
      </div>
      
      <div class="form-group">
          <label for="item-desc">Item Description</label>
          <input type="text" id="item-desc" name="item_desc" required placeholder="Describe the item" />
      </div>
      
      <div class="form-group">
        <label for="owner-name">Owner's Name</label>
        <input type="text" id="owner-name" name="owner_name" required placeholder="Your Name" 
               pattern="[A-Za-z ]+" 
               title="Owner's name should only contain letters and spaces." />
    </div>
    
      
      <div class="form-group">
          <label for="owner-number">Owner's Phone Number</label>
          <input type="tel" id="owner-number" name="owner_number" required placeholder="Your Phone Number" 
                 pattern="\d{10}" maxlength="10" minlength="10" 
                 title="Phone number must be exactly 10 digits." />
      </div>
      
      <div class="form-group">
          <label for="lost-date">Lost Date</label>
          <input type="date" id="lost-date" name="lost_date"  />
      </div>
      
      <div class="form-group">
          <label for="location">Location</label>
          <input type="text" id="location" name="location" required placeholder="Where did you lose the item?" />
      </div>
      
    
          <button type="submit">Submit</button>
       
    </section>
    </form>
    
</body>
</html>
