{% extends 'base.html' %}
{% block body %}




<div class="container my-5 w-45">
    <form action="/update/{{all_users.id}}" method="post">
        <h4 class="text-center">Login Form</h4>
        <div class="mb-3 my-5">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" name="mail" value="{{all_users.Name}}" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" value="{{all_users.Pass}}" name="pass" class="form-control" id="exampleInputPassword1">
        </div>

        <button type="submit" class="btn btn-outline-dark">Submit</button>
    </form>
</div>


{% endblock body %}